/*entire page*/
body {
	font-family: helvetica;
	font-size: 22px;
	color: seashell;
	background-color: black;
	opacity: .9;
	text-align: center;
}

/*header*/
.header {
	display: flex;
	justify-content: space-between;
	height: 69px;
	align-items: center;
	border-bottom: 1px solid seashell;
}

.header img {
	height: 50px;
	margin-left: 10px;
}

.header .nav a{
	color: seashell;
	margin: 5px;
}

/*mission*/
.missimg {
	background-image: url("../images/background.jpg");
	height: 700px;
	width: 1200px;
	display: flex;
	align-items: center;
	justify-content: center;
}

#mission {
	display: flex;
	justify-content: center;
}

.imgtxt {
	background-color: black;
	width: 1200px;
}

/*featured teas*/
#featured {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-top: 30px;
	width: 1000px;
}

.teapics img {
	height: 200px;
	width: 300px;
	margin: 10px;
}

.teapics {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.teapics span {
	display: block;
}

/*locations*/
#locations {
	display: flex;
	flex-direction: column;
	background-image: url("../images/locations-background.jpg");
	height: 500px;
	margin-top: 30px;
}

.listloc {
	display: flex;
	justify-content: center;
}

.locate {
	background-color: black;
	margin: 20px;
	width: 300px;
	padding: 30px 0;
}